@model Cts.Project.Cts.Models.CtsProfile

<div>
    @Model.FirstName <a href="@Model.LeaderDetailUrl">View Leader Activity</a>
</div>

<div>
    @Model.LastName
</div>

<div>
    @Model.EmailId
</div>

<div>
    @Model.DateOfJoining
</div>