<div>
    @Html.Sitecore().Field("Title")
</div>
<div>
    @Html.Sitecore().Field("Brief")
</div>
<div>
    @Html.Sitecore().Field("DetailedBlog")
</div>
<div>
    @Html.Sitecore().Field("HeroImage")
</div>
<div>
    @Html.Sitecore().Field("Author")
</div>
<div>
    @Html.Sitecore().Field("PublishedDate")
</div>
